# Node
node_modules/
.pnpm-store/
dist/
*.log

# Local datastores (created by bootstrap.zsh)
.pgdata/
.pgsock/
.redis/

# Secrets — NEVER commit
.secrets/
.env
.env.local
.env.*.local
.env.render

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Editor
.vscode/
.idea/
.DS_Store

# Nix
result
result-*

# Prisma engines (NixOS workaround — platform-specific binaries)
.prisma-engines/

# Local Netlify folder
.netlify
